@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarScrollBar {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

.navbarScrollBar::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
@layer base {
  html,
  body {
    @apply antialiased;
    font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
      Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    overflow-x: hidden;
    color: #0e0e0e;
    background: #fafafa;
    line-height: 130%;
  }
  br {
    height: 0;
  }
}

/* ::-moz-selection {
  color: black;
  background: #90caf9;
}

::selection {
  color: black;
  background: #90caf9;
} */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 4px !important;
  border-radius: 13px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: rgba(46, 46, 46, 0.3);
  border: 2px solid #555555;
}

@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1350px) {
  .post-margin-right {
    margin-right: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1350px) {
  .post-margin-left {
    margin-left: 1rem;
  }
}
@media (min-height: 0px) {
  .commonModal {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: -webkit-fill-available;
  }
}

@media (max-width: 512px) {
  .commonModal {
    padding-top: 0;
    padding-bottom: 0;
    height: -webkit-fill-available !important;
  }
}
@media (min-width: 512px) and (max-width: 1220px) {
  .commonModal {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-height: 900px) {
  .commonModal {
    height: calc(14.16667rem + 35vw);
    min-height: 46.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-height: 1200px) {
  .commonModal {
    height: 50rem;
  }
}
.right_circle {
  -webkit-transform: scale(1) translate(50%, -50%);
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0;
}

.newbg_experience {
  position: relative;
  background: #fff url(../public/svg/experience.svg) no-repeat 50%;
  background-size: cover;
  min-height: max-content;
}

.newbg_resume {
  position: relative;
  background: #fff url(../public/svg/resume.svg) no-repeat center 20px;
  background-size: 25%;
  height: max-content;
}

.calc-width {
  width: calc(100% - theme('width.64'));
}

.PhoneInputInput {
  outline: none;
}

.DraftEditor-root {
  overflow-y: auto;
  margin-top: 0 !important;
  min-height: 243px !important;
  max-height: 243px !important;
  width: 100% !important;
  font-size: 0.9rem !important;
  resize: none !important;
  caret-color: #2dc5a1;
  border: 1px solid #ddd;
  outline: none !important;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0 0.875rem 0.1em;
  padding-top: 10px;
  transition: border 0.2s ease-in;
  text-align: initial;
  height: inherit;
}

.public-DraftEditorPlaceholder-hasFocus {
  color: '#bdc1c9';
}

.public-DraftEditorPlaceholder-root {
  width: auto !important;
  position: absolute;
  z-index: 5000;
  color: '#bdc1c9';
}

.DraftEditor-root:hover {
  border: 1px solid #25b2aa !important;
}

.icons {
  width: 27px;
  height: 27px;
  margin-right: 0.5rem;
  color: #5a8a99 !important;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s ease-in;
}

.icons:hover {
  background-color: #ddd;
  border-radius: 50px;
}

.MuiSvgIcon-root {
  width: 33px;
  height: 33px;
  margin-right: 0.5rem;
  color: #5a8a99 !important;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s ease-in;
}

.MuiSvgIcon-root:hover {
  background-color: #ddd;
  border-radius: 50px;
}

.public-DraftEditor-content[contenteditable='true'] {
  -webkit-user-modify: read-write-plaintext-only;
}

.public-DraftEditor-content {
  min-height: 230px !important;
  font-size: 0.875rem;
  text-align: left;
  text-align: initial;
  outline: none;
  -webkit-user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  height: inherit;
  text-align: left;
  text-align: initial;
  outline: none;
  -webkit-user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.DraftEditor-editorContainer {
  background-color: hsla(0, 0%, 100%, 0);
  border-left: 0.1px solid transparent;
  position: relative;
  z-index: 1;
}

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  /* height: 226px; */
  text-align: left;
  text-align: initial;
}

.DraftEditor-editorContainer {
  background-color: hsla(0, 0%, 100%, 0);
  border-left: 0.1px solid transparent;
  position: relative;
  z-index: 1;
  height: inherit;
}

.public-DraftEditorPlaceholder-root {
  width: auto !important;
  color: #9197a3;
  position: relative;
  z-index: 1;
}
.root {
  color: inherit;
  border: 0;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
}

.buttonlabel {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.jjs8 {
  width: 20px;
  margin: 9px;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  padding: 0;
  -webkit-print-color-adjust: exact;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  flex-shrink: 0;
  height: 1rem;
}

.public-DraftEditorPlaceholder-root {
  width: auto !important;
  position: absolute;
  z-index: 10;
}

.public-DraftEditorPlaceholder-hasFocus {
  color: #bdc1c9;
}

.public-DraftEditor-content[contenteditable='true'] {
  -webkit-user-modify: read-write-plaintext-only;
}

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  height: inherit;
  text-align: left;
  text-align: initial;
}
.DraftEditor-editorContainer {
  background-color: hsla(0, 0%, 100%, 0);
  border-left: 0.1px solid transparent;
  color: '#bdc1c9';
  position: relative;
  z-index: 1;
}

.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  /* height: 226px; */
  text-align: left;
  text-align: initial;
}

.document_modal {
  overflow-y: unset;
  padding: 1.5rem 1.5rem;
  display: block;
}

#file {
  display: none;
}

.file_section {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  font-size: unset;
  line-height: unset;
}

.badges_input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  font-size: 0.875rem;
  border-width: 1px;
  height: 1rem;
  width: 1rem;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
}

.webkit {
  -webkit-appearance: none;
}

.inp-co-user {
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
}

.experience_description {
  word-wrap: break-word;
  /* max-height: 44px; */
  /* overflow: hidden; */
}
.experience_description p:last-of-type {
  display: inline !important;
}
.experience_description ul {
  list-style: initial !important;
  margin-left: 18px;
}
.experience_description ol {
  list-style-type: decimal !important;
  margin-left: 18px;
}
.experience_description_full {
  max-height: none !important;
}

.transformation {
  @apply transition duration-300 ease-in-out;
}

.preferred_roles {
  @apply text-[#788699] border-[1px] border-[#d6dae0] rounded-3xl my-[0.35rem] mx-[0.25rem] py-[0.7rem] px-[0.875rem] leading-[1.25rem] text-[0.875rem] text-center font-normal inline-flex cursor-pointer;
}

.from_to {
  @apply outline-none border-1 border-[#d6e0e1] rounded-[0.3125rem] mb-[0.625rem] relative w-[47.5%] text-[0.875rem] text-[#788699] p-[10px];
}

.calc-width {
  width: calc(100% - theme('width.64'));
}

.experience_button {
  @apply outline-none border-none py-[8px] px-[15px] font-semibold bg-collabbi-green rounded-[5px] text-[13.33px] cursor-pointer text-white;
}

.react-tel-input .country-list {
  width: 250px !important;
  font-size: 14px !important;
}

input[type='file'] {
  /* display: none; */
}

.status_detail {
  opacity: 0;
  visibility: hidden;
  transition: opacity linear 0.2s;
}
.status_icon:hover .status_detail {
  opacity: 100;
  visibility: visible;
}

.mark {
  @apply border-[1px] border-red-500;
}

@media (max-width: 1024px) {
  .fy-sidebar {
    opacity: 0;
    pointer-events: none;
  }
  .fy-openBtn {
    opacity: 1;
  }
  .fy-svg {
    height: 40px;
  }
}

.shadow-under {
  box-shadow: 0px 0.5px 3px 1px grey;
}

.banner {
  @apply w-full p-[25px] bg-[#f2faff] rounded-[0.5rem] mt-[4rem];
}
.banner-button {
  @apply bg-[#c9f270] w-[fit-content] p-[0.875rem] rounded-[4px] cursor-pointer font-semibold hover:border-[5px] hover:border-[#e0f2bd] transition-all duration-100;
}

.hover-border:hover {
  border: 5px solid #e0f2bd;
}

.shadow-border {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 6%);
}

.line-under::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: rgb(236, 218, 117);
  bottom: -15%;
  left: 0;
  transition: all ease 0.25s;
}

.line-under:hover::before {
  width: 100%;
}

.wallet {
  background: conic-gradient(
    from 245.3deg at 46.54% 50.36%,
    rgb(238, 238, 238) -0.19deg,
    rgb(255, 255, 255) 52.56deg,
    rgb(247, 247, 247) 100.83deg,
    rgb(227, 227, 227) 195.98deg,
    rgb(247, 247, 247) 277.97deg,
    rgb(238, 238, 238) 359.81deg,
    rgb(255, 255, 255) 412.56deg
  );
}

.prefered-tags {
  @apply inline-block text-[0.75rem] bg-[#eff2f6] font-normal py-[0.25rem] px-[0.5rem] rounded-[5px] mt-[0.5rem] mr-[0.5rem] mb-0 ml-0;
}

.autocomplete-options {
  @apply px-3 h-[2rem] flex items-center cursor-pointer font-medium text-sm hover:bg-gray-100;
}

.tags-input {
  @apply appearance-none px-3 py-2 mt-[7px] mb-[7px] placeholder-[#6B7280] text-[#030303]  placeholder-opacity-90 relative w-full bg-white rounded text-sm border-[1.5px]  focus:outline-none focus:border-[#2dc5a1] focus:border-2 transition duration-200  ease-in bg-transparent;
}
